body{
    background-color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.titulos{
    font-weight: bolder;
}
#contenedor{
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}